@page
@model WebApplication1.Pages.ServiceDetails_M1Model
@{
	Layout = "_WorkerLayout";
	List<Orders> orders = (List<Orders>)TempData["order"];
}


<html>




	<head>



		<style>


			body, html {
				margin: 0;
				padding: 0;
				font-family: 'Arial', sans-serif;
				background: #f4f4f4;
			}

			.container-fluid {
				width: 1260px; /* Increased width */
				margin: auto;
				height: auto;
				padding: 20px;
			}

			.card {
				background: #ffffff;
				border-radius: 15px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
				padding: 30px;
				margin-bottom: 30px;
			}

			.header h2 {
				margin: 0;
				padding-bottom: 15px;
				border-bottom: 2px solid #007bff;
				color: #007bff;
				font-size: 24px;
			}

			.form-control {
				width: 100%;
				padding: 12px;
				margin: 10px 0;
				border-radius: 8px;
				border: 1px solid #ccc;
				box-sizing: border-box;
				font-size: 16px;
			}

			.form-line {
				margin-bottom: 20px;
			}

			.font-12 {
				font-size: 18px;
				color: #333;
				margin-bottom: 10px;
			}

			button[type=submit] {
				margin-top: 20px;
				background-color: #00CDC4;
				color: white;
				border: none;
				padding: 15px 30px;
				border-radius: 8px;
				cursor: pointer;
				font-size: 18px;
				transition: background-color 0.3s;
				display: block; /* Make the button full-width */
				width: 100%;
			}

				button[type=submit]:hover {
					background-color: #333;
				}

			.image {
				border: none;
			}



		</style>




	</head>





	<body>

		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

		<section class="content">

			<div class="container-fluid">

				

				<form id="form_validation" method="post" enctype="multipart/form-data">
					<div class="card">
						<div class="header">
							<h2>Temizleyici</h2>
						</div>

						<div class="body">

							<div class="row clearfix">

								<div class="form-group col-sm-12">
									<div class="form-line">
										<table>
											<thead type="hidden">
												<tr>
													<th width="50%"></th>
													<th width="50%"></th>
												</tr>
											</thead>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Salon Sayısı : @orders[0].salon_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Salon Metresi : @orders[0].salon_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Mütfak Sayısı : @orders[0].mutfak_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Mütfak Metresi : @orders[0].mutfak_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Buro Sayısı : @orders[0].buro_count</div>
														<span type="text" name="buroS" id="buroS" value="" />
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Buro Metresi : @orders[0].buro_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Depo Sayısı : @orders[0].depo_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Depo Metresi : @orders[0].depo_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Banyo Sayısı : @orders[0].banyo_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Banyo Metresi : @orders[0].banyo_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Tuvalet Sayısı : @orders[0].tuvalet_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Banyo Metresi : @orders[0].tuvalet_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Oda Sayısı : @orders[0].oda_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Oda Metresi : @orders[0].oda_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Bahce Sayisi : @orders[0].bahce_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Bahce Metresi : @orders[0].bahca_metresi</div>
													</div>
												</td>
											</tr>

											<tr>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Balkon Sayısı : @orders[0].balkon_count</div>
													</div>
												</td>
												<td style="vertical-align: middle;">
													<div class="form-line">
														<div class="font-12">Balkon Metresi @orders[0].balkon_metresi</div>
													</div>
												</td>
											</tr>

										</table>
									</div>
								</div>

								<div class="form-group col-sm-12">
									<div class="form-line">
										<div class="font-12">Not</div>
										<h6>@orders[0].sd_not</h6>
									</div>
								</div>

								Tarih: <input class="form-control" name="time" asp-for="CurrentTime" asp-format="{0:yyyy-MM-ddTHH:mm}" readonly/>

								<input type="hidden" class="form-control" name="agacS" id="agacS" placeholder="agacS" required>

								<div class="col-sm-6" style="margin-bottom: 0px;">
									<div class="form-group">
										<div class="font-12 ex1">Image</div>
										<img src="https://romani-au.digital/APIs/BiServis/uploads/@orders[0].image" alt="Image" class="image-preview" />
									</div>
								</div> 

							</div>
						</div>
					</div>

				</form>

			</div>

		</section>


	</body>
</html>